.main-header {
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.menu-main {
    display: flex;
    height: 100%;
    justify-content: space-around;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b";
}

.login{
  display: flex;
  flex-wrap: nowrap;
  justify-items: flex-end;
  align-items: flex-end;
  align-self: center;
  justify-self: end;
}

.main-menu-logo {
    grid-area: a;
    align-self: center;
    justify-self: start;
}

mt-shopping-icon {
    grid-area: b;
    align-self: center;
    justify-self: end;
}

a.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #fff;
}
