.livro-card {
    padding: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.livro-card .livro-image img {
    width: 100%;
    box-shadow: 8px 10px 12px 0px rgba(46, 61, 73, 0.2);
}

.livro-card .livro-content {
    padding: 0 15px;
}

.livro-card .livro-content h2 {
    font-family: 'Playfair Display', serif;
    color: #555;
    font-weight: bold;
    font-size: 22px;
}

.livro-card .livro-content .autor-name {
    font-family: 'Lato', serif;
    padding: 12px 0;
}

.livro-card .livro-content .price-book {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    color: #F07C29;
}

.book-link-self,
.book-link-self:hover,
.book-link-self:visited,
.book-link-self:active {
    text-decoration: none;
}

a.slide-book {
    text-decoration: none;
}

a.slide-book:hover,
a.slide-book:visited {
    color: #555;
}

.btn-buy {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background-color: #f07c29;
    margin: 25px 0 15px;
    padding: 11px 25px;
    display: inline-block;
    transition: background-color .4s ease-in;
}

.btn-buy:hover {
    border: 2px solid #f07c29;
    background-color: transparent;
    color: #f07c29;
}