    .user-block-review {
        display: flex;
        margin-bottom: 50px;
        padding-bottom: 25px;
    }
    
    .user-block-review .review-img {
        height: 50px;
    }
    
    .content-of-review .username {
        font-family: 'Caudex', serif;
        font-size: 16px;
        font-weight: bold;
        display: block;
        margin-top: 12px;
    }
    
    .content-of-review .description {
        font-family: 'Caudex', serif;
        font-size: 15px;
        margin: 9px 0;
        display: block;
    }
    
    .content-of-review p {
        font-family: 'Lato', serif;
    }
    
    .review-score {
        font-size: 20px;
        font-family: 'Caudex', serif;
        padding-bottom: 10px;
    }