<!--INICIO DO CARRINHO-->
<div class="card-shooping-cart">
    <div class="card-shooping-cart-header">
        <div class="title-shopping-cart">
            <i class="fa fa-shopping-cart"></i>
            <h3 class="title">Meu Carrinho</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="card-shopping-cart-content">
        <div *ngIf="!items().length">
            <p class="text-center">
                Seu carrinho está vazio!
            </p>
        </div>
        <div class="table-responsive" *ngIf="items().length">
            <table class="table">
                <tbody>
                    <tr *ngFor="let item of items()" [@row]="rowState">
                        <th>({{item.quantity}}x) {{item.menuItem.name}}</th>
                        <td class="text-right">{{item.value() | currency: 'BRL': true}}</td>
                        <td class="text-right">
                            <a (click)="removeItem(item)" class="btn btn-sm danger">X</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Total:</th>
                        <td class="text-right">{{total() | currency: 'BRL': true}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="cart-info-buttons" *ngIf="items().length">
        <div>
            <a (click)="clear()" class="btn-clear"><i class="fa fa-trash"></i> Limpar</a>
            <a [routerLink]="['/order']" class="btn-check-out"><i class="fa fa-credit-card"></i> Fechar Pedido</a>
        </div>
    </div>
</div>
<!-- FIM DO CARRINHO -->