<div class="container">
    <div class="row">
        <div class="col-xs-12">



            <div class="carrousel-mais-vendidos">

                <mt-title-section [title]="'Mais Vendidos'"></mt-title-section>

                <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfigSells">
                    <a [routerLink]="['/livros', livro.id]" ngxSlickItem *ngFor="let livro of livros" class="slide-book">
                        <div class="livro-card">
                            <div class="livro-image">
                                <img [src]="livro.imagePath" />
                            </div>
                            <div class="livro-content">
                                <h2>{{livro.name}}</h2>
                                <p class="autor-name">{{livro.autorName}}</p>
                                <p class="price-book">{{livro?.price | currency:'BRL':2}}</p>
                            </div>
                        </div>
                    </a>
                </ngx-slick>
                <a [routerLink]="['/livros']" class="all-books">Todos os livros</a>

            </div>

        </div>
    </div>
</div>