.invoice {
  border-radius: 5px;
  box-shadow: 8px 10px 12px 0px rgba(46, 61, 73, 0.2);
  overflow: hidden;
  padding: 35px;
  width: 100%;
}

.invoice .page-header {
  font-family: 'Playfair Display', serif;
  color: #555;
  font-weight: bold;
  font-size: 22px;
}

.invoice .lead {
  font-family: 'Caudex', serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 35px;
  color: rgba(0, 0, 0, .5);
}

.invoice label,
.invoice p {
  font-family: 'Lato', serif !important;
}
