@media (max-width: 768px) {
    .carrousel-books {
        padding-top: 90px;
        margin-bottom: 90px;
    }
}

@media(min-width: 768px) {
    .carrousel-books {
        padding-top: 30px;
        margin-bottom: 90px;
    }
}
