@media (max-width: 768px) {
    .carrousel-books {
        padding-top: 90px;
        margin-bottom: 90px;
    }
}

@media(min-width: 768px) {
    .carrousel-books {
        padding-top: 30px;
        margin-bottom: 90px;
    }
}

.wave-bg,
.bg-image,
.bg-overlay {
    height: 100vh;
}

.wave-bg {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: -1;
}

.bg-overlay {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #ede8de;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #0083b0, #00b4db);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, #0083b0, #00b4db);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.8;
}

#curve {
    position: absolute;
    bottom: 0;
    width: 100%;
    fill: #ede8de;
}

#curve path:nth-child(1) {
    opacity: 0.15;
}

#curve path:nth-child(2) {
    opacity: 0.3;
}