.shopping-cart-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
}

.content-cart{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.total{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 12px;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 8px 0;
}


.card-shooping-cart-header .title-shopping-cart {
    display: flex;
}

.card-shooping-cart-header {
    margin: 0 0 20px;
}

.card-shooping-cart-header .title-shopping-cart {
    font-family: 'Caudex', serif;
    color: #555;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 20px;
    padding-left: 15px;
    display: inline-block;
}

.card-shooping-cart-header .title-shopping-cart i.fa {
    color: #555;
    font-size: 22px;
    display: inline-block;
}

.card-shooping-cart-header .divisor {
    width: 40px;
    height: 2px;
    background-color: #F07C29;
}

.btn-clear {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 15px;
    color: rgb(189, 189, 189);
    font-weight: bold;
    background-color: transparent;
    padding: 11px 25px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid rgb(189, 189, 189);
    text-decoration: none;
    margin-right: 8px;

}

.btn-check-out {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    font-weight: bold;

    background-color: #f07c29;
    padding: 11px 25px;
    display: inline-block;
    transition: background-color .4s ease-in;
    cursor: pointer;
    text-decoration: none;
}

.btn-check-out:hover,
.btn-check-out:visited {
    text-decoration: none;
}

.btn-check-out:hover {
    border: 2px solid #f07c29;
    background-color: transparent;
    color: #f07c29;
    text-decoration: none;
}

.text-center {
    font-family: 'Lato', serif;
}

.quantity{
  border: 1px solid rgba(0,0,0,.2);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 110px;
  align-self: flex-start;
}

.quantity button{
  background-color: rgba(0,0,0,0.1);
  padding: 5px 10px;
  box-shadow: none;
  border: none;
  margin: 0;
}

.quantity i.fa{
  color: #a5a4a4;
  font-size: 12px;

}

.quantity span{
  padding: 0 8px;
  line-height: 30px;
}

