.categoria-wrapper {
  margin-right: auto;
  margin-left: auto;
  display: grid;
  position: relative;
  grid-gap: 20px;
  grid-row-gap: 30px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .categoria-wrapper {
      grid-template-columns: 1fr;
      width: 90%;
  }
}

@media(min-width: 768px) {
  .categoria-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      width: 80%;
  }
}

/*Category Card*/
.categoria-card {
  padding: 40px 40px 50px;
  position: relative;
  background-color: white;
  height: 100%;
  cursor: pointer;
  -moz-transition: box-shadow 0.6s ease-in;
  -o-transition: box-shadow 0.6s ease-in;
  -webkit-transition: box-shadow 0.6s ease-in;
  transition: box-shadow 0.6s ease-in;
  box-shadow: 8px 10px 12px 0px rgba(46, 61, 73, 0.2);
  border-radius: 5px;
}

.categoria-card:hover {
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.categoria-card h1 {
  font-family: 'Playfair Display', serif;
  color: #555;
  font-weight: bold;
}

.categoria-card .divisor {
  height: 3px;
  background-color: #F07C29;
  width: 80px;
  margin: 35px 0 0;
}
