.categoria-wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-row-gap: 30px;
    margin: 0 auto;
}