<!-- INÍCIO DO CONTEÚDO -->
<mt-page-intro [title]="'Meu Carrinho de Compras'"></mt-page-intro>

<div class="container">

    <div class="card-books-grid">

        <div class="item-detail">
            <div class="card-book-info-img" *ngIf="livro">
                <img class="box-img-detail" [src]="livro?.imagePath " />
            </div>

            <div class="book-info-details">
                <h3 class="book-info-title-book">{{livro?.name}}</h3>
                <div class="title">Autor</div>
                <div class="content-card-book-detail">{{livro?.autorName}}</div>
                <div class="title">Editora</div>
                <div class="content-card-book-detail">{{livro?.editora}}</div>
                <div class="title">Numero de Páginas</div>
                <div class="content-card-book-detail">{{livro?.numeroPaginas}}</div>
                <div class="title">Ano Publicação</div>
                <div class="content-card-book-detail">{{livro?.anoEdicao}}</div>
                <div class="content-price">{{livro?.price | currency:'BRL':2}}</div>
                <div>
                    <a (click)="emitAddEvent()" class="add-to-card"><span>Adicionar</span></a>
                </div>
            </div>
        </div>

        <div class="shoppin-cart-wrap">
            <mt-shopping-cart #shoppingCart></mt-shopping-cart>
        </div>

        <div class="livro-about">
            <h1>Descrição</h1>
            <p>{{livro?.about}}</p>
        </div>

        <div class="reviews-card">
            <h1>Reviews</h1>
            <div>
                <div *ngFor="let review of reviews">
                    <mt-reviews-book [review]="review"></mt-reviews-book>
                    <div *ngIf="reviews?.length === 0" class="col-xs-12">
                        <p class="lead text-center">
                            Não foram encontrados itens para a sua busca.
                        </p>
                    </div>
                </div>
            </div>
            <div *ngIf="reviews?.length == 0">
                <p>Ainda não há nenhuma avaliação para este livro</p>
            </div>

        </div>

    </div>

    <div class="space-content"></div>


</div>