<!-- INÍCIO DO CONTEÚDO -->
<mt-page-intro [title]="book?.name"></mt-page-intro>

<div class="container">

  <div class="card-books-grid">

    <div class="item-detail">
      <div class="card-book-info-img" *ngIf="book">
        <img class="box-img-detail" [src]="book?.imagePath " />
      </div>

      <div class="book-info-details">
        <h3 class="book-info-title-book">{{book?.name}}</h3>
        <div class="title">Autor</div>
        <div class="content-card-book-detail">{{authorName}}</div>
        <div class="title">Assunto</div>
        <div class="content-card-book-detail">{{catName?.name}}</div>
        <div class="content-price">{{book?.price | currency:'BRL': 'symbol'}}</div>
        <div>
          <a (click)="emitAddEvent()" class="add-to-card"><span>Adicionar</span></a>
        </div>
      </div>
    </div>

    <div class="shoppin-cart-wrap">
      <mt-shopping-cart #shoppingCart></mt-shopping-cart>
    </div>

  </div>

  <mt-panel [links]="['Sobre', 'Detalhes','Avaliações']"
            [sectionDefault]="'Sobre'"
            (section)="getSection($event)"
            >
    <div *ngIf="section === 'Sobre'">
      {{book?.about}}
    </div>
    <div *ngIf="section === 'Detalhes'">
      <mt-book-info [book]="book"></mt-book-info>
    </div>
    <div *ngIf="section === 'Avaliações'">
      <mt-reviews-book [reviewsId]="book.id"></mt-reviews-book>
    </div>
  </mt-panel>

</div>

<div class="space-content"></div>
<div class="space-content"></div>
