<mt-page-intro [title]="'Obrigada!'">
</mt-page-intro>

<div class="container">
    <div class="row">
        <div class="col-xs-12">


            <section class="content">
                <div class="jumbotron">
                    <h2>Pedido Conluído</h2>
                    <p>Seu pedido foi recebido com sucesso:</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col">Quantidade</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Valor Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of orderItens">
                                    <td align="left">{{item?.name}}</td>
                                    <td align="left">{{item?.quantity}}</td>
                                    <td align="left">{{item?.price | currency: 'BRL': true}}</td>
                                    <td align="left">{{item?.total | currency: 'BRL': true}}</td>
                                </tr>
                                <tr>
                                    <td align="left"></td>
                                    <td align="left"></td>
                                    <td align="left">Frete : {{order.frete | currency: 'BRL': true}}</td>
                                    <td align="left">Valor Total : {{valueTotalCart | currency: 'BRL': true}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



            </section>
            <!-- FIM DO CONTEUDO -->
        </div>
    </div>
</div>