.cart-icon-link {
  text-decoration: none;
  color: #fff;
}

.cart-icon-link:hover,
.cart-icon-link:visited,
.cart-icon-link:active {
  text-decoration: none;
  color: #fff;
}

.icon-shop i.fa {
  font-size: 25px;
}

.count-cart {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin: 0 8px;
  color: #fff;
  font-size: 19px;

}
